<div class="edit">
  <h2>Add/edit bibliography item</h2>
  <form class="form-fields">
    <p><label>Reference:</label> <input name="title" type="text" value="{{ title }}" />
    <p><label>Content:</label>
    <p><textarea name="content">{{ content }}</textarea>
    <p>
      <input type="button" class="save" value="Save">
      <input type="button" class="cancel-edit" value="Cancel">
  </form>
</div>
